$icon-list: ('discount', 'deal', 'team', 'education');

.benefits {
  margin-block-start: 48px;
  margin-block-end: 100px;

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 62px;
  }

  &__item {
    //max-width: 290px;
  }

  &__icon {
    display: block;
    width: 36px;
    height: 36px;
    margin-block-end: 16px;

    @each $element in $icon-list {
      &_#{$element} {
        background: url('../images/icons/#{$element}.svg');
      }
    }
  }

  &__title {
    font: 600 24px/1 'SuisseIntlSemiBold', sans-serif;
    color: $text-color;
    margin-block-end: 20px;
  }

  &__text {
    font: 300 18px/1 'SuisseIntlLight', sans-serif;
  }

  &__br {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .benefits {
    margin-block-end: 15px;

    &__items {
      position: relative;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-inline: 75px;
      padding-block: 50px 67px;
      border: 1px solid #DFDFDF;
      border-radius: 30px;
      top: -92px;
      background-color: #FFFFFF;
      box-shadow: 0 5px 10px 0 #0000001F;
    }

    &__item {
      flex-basis: 240px;
    }

    &__br {
      display: block;
    }
  }
}