$icon-list: ('discount', 'deal', 'team', 'education');

.benefits {
  margin-block-start: 48px;
  margin-block-end: 100px;

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 62px;
  }

  &__item {
    max-width: 290px;
  }

  &__icon {
    display: block;
    width: 36px;
    height: 36px;
    margin-block-end: 16px;

    @each $element in $icon-list {
      &_#{$element} {
        background: url('../images/icons/#{$element}.svg');
      }
    }
  }

  &__title {
    font: 600 24px/1 'SuisseIntlSemiBold', sans-serif;
    color: $text-color;
    margin-block-end: 20px;
  }

  &__text {
    font: 300 18px/1 'SuisseIntlLight', sans-serif;
  }

}