.partners-program {
  background-color: $default-background-color;
  background-image: url("/become-partner/images/backgrounds/partner-progran-background-mobile.png");
  background-repeat: no-repeat;
  background-size: 288px 166px;
  padding-block: 59px 133px;
  background-position: right bottom;
  box-sizing: border-box;

  &__header {
    font: 450 33px/1 'SuisseIntlRegular', sans-serif;
    color: #FFFFFF;
    margin-block-end: 40px;
    box-sizing: border-box;

  }

  &__list {
    list-style: none;
  }

  &__list-item {
    display: flex;
  }

  &__index {
    font: 600 18px/1 'SuisseIntlSemiBold', sans-serif;
    padding-block: 13px;
    padding-inline: 6px;
    color: #FFFFFF;
    margin-inline-end: 21px;
    border: 3px solid $green-button-color;
    border-radius: 30px;
    max-width: 41px;
    box-sizing: border-box;
    flex: 1;
    text-align: center;
  }

  &__text-wrapper {
    padding-block: 10px 20px;
    box-sizing: border-box;
    flex: 263px 1;
  }

  &__title {
    font: 600 22px/1 'SuisseIntlSemiBold', sans-serif;
    margin-block-end: 20px;
    color: #FFFFFF;
  }

  &__text {
    font: 300 18px/1 'SuisseIntlLight', sans-serif;
    color: #FFFFFF;
  }
}