.partners-program {
  background-color: $default-background-color;
  background-image: url("/become-partner/images/backgrounds/partner-progran-background-mobile.png");
  background-repeat: no-repeat;
  background-size: 288px 166px;
  padding-block: 59px 133px;
  background-position: right bottom;
  box-sizing: border-box;

  &__header {
    font: 450 33px/1 'SuisseIntlRegular', sans-serif;
    color: #FFFFFF;
    margin-block-end: 40px;
    box-sizing: border-box;

  }

  &__list {
    list-style: none;
  }

  &__list-item {
    display: flex;
  }

  &__index {
    font: 600 18px/1 'SuisseIntlSemiBold', sans-serif;
    padding-block: 13px;
    padding-inline: 6px;
    color: #FFFFFF;
    margin-inline-end: 21px;
    border: 3px solid $green-button-color;
    border-radius: 30px;
    max-width: 41px;
    box-sizing: border-box;
    flex: 1;
    text-align: center;
  }

  &__text-wrapper {
    padding-block: 10px 20px;
    box-sizing: border-box;
    flex: 263px 1;
  }

  &__title {
    font: 600 22px/1 'SuisseIntlSemiBold', sans-serif;
    margin-block-end: 20px;
    color: #FFFFFF;
  }

  &__text {
    font: 300 18px/1 'SuisseIntlLight', sans-serif;
    color: #FFFFFF;
    opacity: 0.5;
  }
}

@media  screen and (min-width: 768px){
  .partners-program {
    padding-block-end: 41px;
    background-size: 360px 208px;

    &__header {
      font-size: 52px;
      margin-block-end: 38px;
    }

    &__list {
      position: relative;

      &::before {
        position: absolute;
        content: '';
        background-image: url("/become-partner/images/icons/partner-program-decotaion.svg");
        background-repeat: no-repeat;
        display: block;
        width: 48px;
        height: 660px;
      }
    }

    &__list-item {
      position: relative;
      padding-inline-start: 83px;
    }

    &__title {
      font-size: 24px;
    }

    &__index {
      border: unset;
      margin-inline-end: 42px;
      position: absolute;
      padding: unset;
      top: 22px;
      left: 13px;

      &_last {
        top: 0;
      }
    }

    &__text-wrapper {
      padding-block: 19px 49px;

      &_last {
        padding-block-start: 0;
      }
    }
  }
}