.variants {
  &__title {
    font: 450 33px/1 'SuisseIntlMedium', sans-serif;
    margin-block-end: 31px;
  }

  &__list {
    list-style: none;
  }

  &__item {
    background-color: $light-gray-background-color;
    border-radius: 20px;
    padding-block: 32px 51px ;
    padding-inline: 32px 14px;
  }

  &__item-title {
    font: 600 24px/1 'SuisseIntlSemiBold', 'sans-serif';
    margin-block-end: 28px;
  }
}