.work {
  padding-block: 78px 91px;
  box-sizing: border-box;

  &__header {
    font: 450 33px/1 'SuisseIntlRegular', sans-serif;
    min-width: 312px;
    min-height: 80px;
    margin-block-end: 23px;
    margin-inline-end: 24px;
    color: $title-color;

    @media (min-width: 768px) {
      min-height: 114px;
      font-size: 52px;
      margin-block-end: 26px;
      margin-inline-end: 195px;
    }
  }

  &__subheader {
    font: 300 18px/1 'SuisseIntlLight', sans-serif;
    margin-inline-end: 24px;
    margin-block-end: 23px;
    color: $text-color;

    @media (min-width: 768px) {
      min-width: 634px;
      min-height: 78px;
      margin-inline-end: 100px;
      margin-block-end: 47px;
    }
  }

  &__card-wrapper {
    list-style: none;
    box-sizing: border-box;
  }

  &__card {
    box-sizing: border-box;
    padding-block: 39px 45px;
    padding-inline: 42px 23px;
    border: 1px solid #DFDFDF;
    border-radius: 30px;
    box-shadow: 0 5px 10px 0 #0000001F;
    width: auto;
    margin-block-end: 20px;
    margin-inline-end: 36px;

    &:last-child {
      margin-block-end: unset;
    }
  }

  &__title {
    font: 600 20px/1 'SuisseIntlSemiBold', sans-serif;
    margin-block-end: 20px;
    color: $title-color;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url("/become-partner/images/icons/work-card-decoration.svg");
      background-repeat: no-repeat;
      left: -42px;
      top: -4px;
      width: 6px;
      height: 36px;
    }
  }

  &__text {
    font: 300 18px/1 'SuisseIntlLight', sans-serif;
    color: $text-color;
  }

}