.work {
  padding-block: 78px 91px;
  box-sizing: border-box;

  &__header {
    font: 450 33px/1 'SuisseIntlRegular', sans-serif;
    margin-block-end: 31px;
    color: $title-color;
  }

  &__subheader {
    font: 300 18px/1 'SuisseIntlLight', sans-serif;
    margin-block-end: 23px;
    color: $text-color;
  }

  &__card-wrapper {
    list-style: none;
    box-sizing: border-box;
  }

  &__card {
    box-sizing: border-box;
    padding-block: 39px 45px;
    padding-inline: 42px 23px;
    border: 1px solid #DFDFDF;
    border-radius: 30px;
    box-shadow: 0 5px 10px 0 #0000001F;
    max-width: 300px;
    margin-block-end: 20px;

    &:last-child {
      margin-block-end: unset;
    }
  }

  &__title {
    font: 600 20px/1 'SuisseIntlSemiBold', sans-serif;
    margin-block-end: 20px;
    color: $title-color;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url("/become-partner/images/icons/work-card-decoration.svg");
      background-repeat: no-repeat;
      left: -42px;
      top: -4px;
      width: 6px;
      height: 36px;
    }
  }

  &__text {
    font: 300 18px/1 'SuisseIntlLight', sans-serif;
    color: $text-color;
  }

}