* {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  max-width: clamp(360px, 100%, 1240px);
  margin-inline: auto;
  padding-inline: 20px;
}

@media screen and (min-width: 768px) {
  .hidden-xs {
    display: none;
  }
}
.top {
  background-color: #2b2b2b;
  padding-block-start: 42px;
  padding-block-end: 88px;
  background-image: url("/become-partner/images/backgrounds/top-background-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
.top__title {
  font: 450 33px/1 "SuisseIntlRegular", "sans-serif";
  text-align: center;
  color: #FFFFFF;
  margin-block-end: 32px;
}
.top__title_green {
  color: #5ED76A;
}
.top__text {
  font: 300 18px/1 "SuisseIntlLight", "sans-serif";
  text-align: center;
  color: #FFFFFF;
  margin-block-end: 29px;
}
.top__button-container {
  display: flex;
  justify-content: center;
}
.top__button {
  transition: background-color 0.3s ease-in-out;
  font: 400 18px/1 "SuisseIntlRegular", "sans-serif";
  color: #2b2b2b;
  background-color: #5ed76a;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  padding-block: 23px;
  padding-inline: 54px;
}
.top__button:hover {
  background-color: #68ee75;
}

.benefits {
  margin-block-start: 48px;
  margin-block-end: 100px;
}
.benefits__items {
  display: flex;
  flex-direction: column;
  row-gap: 62px;
}
.benefits__item {
  max-width: 290px;
}
.benefits__icon {
  display: block;
  width: 36px;
  height: 36px;
  margin-block-end: 16px;
}
.benefits__icon_discount {
  background: url("../images/icons/discount.svg");
}
.benefits__icon_deal {
  background: url("../images/icons/deal.svg");
}
.benefits__icon_team {
  background: url("../images/icons/team.svg");
}
.benefits__icon_education {
  background: url("../images/icons/education.svg");
}
.benefits__title {
  font: 600 24px/1 "SuisseIntlSemiBold", sans-serif;
  color: #2b2b2b;
  margin-block-end: 20px;
}
.benefits__text {
  font: 300 18px/1 "SuisseIntlLight", sans-serif;
}

.variants {
  margin-block-end: 70px;
}
.variants__title {
  font: 450 33px/1 "SuisseIntlMedium", sans-serif;
  margin-block-end: 31px;
}
.variants__list {
  list-style: none;
}
.variants__item {
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-radius: 20px;
  padding-block: 32px 51px;
  padding-inline: 32px 20px;
  margin-block-end: 20px;
}
.variants__item:last-child {
  margin-block-end: unset;
}
.variants__item-title {
  font: 600 24px/1 "SuisseIntlSemiBold", "sans-serif";
  margin-block-end: 28px;
}
.variants__list-item {
  font: 300 22px/1 "SuisseIntlLight", "sans-serif";
  display: flex;
  margin-block-end: 16px;
  align-items: flex-start;
}
.variants__list-item::before {
  display: block;
  content: "";
  min-width: 24px;
  min-height: 24px;
  background-image: url("/become-partner/images/icons/variants-decoration-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-inline-end: 15px;
}

.partners-program {
  background-color: #2b2b2b;
  background-image: url("/become-partner/images/backgrounds/partner-progran-background-mobile.png");
  background-repeat: no-repeat;
  background-size: 288px 166px;
  padding-block: 59px 133px;
  background-position: right bottom;
  box-sizing: border-box;
}
.partners-program__header {
  font: 450 33px/1 "SuisseIntlRegular", sans-serif;
  color: #FFFFFF;
  margin-block-end: 40px;
  box-sizing: border-box;
}
.partners-program__list {
  list-style: none;
}
.partners-program__list-item {
  display: flex;
}
.partners-program__index {
  font: 600 18px/1 "SuisseIntlSemiBold", sans-serif;
  padding-block: 13px;
  padding-inline: 6px;
  color: #FFFFFF;
  margin-inline-end: 21px;
  border: 3px solid #5ed76a;
  border-radius: 30px;
  max-width: 41px;
  box-sizing: border-box;
  flex: 1;
  text-align: center;
}
.partners-program__text-wrapper {
  padding-block: 10px 20px;
  box-sizing: border-box;
  flex: 263px 1;
}
.partners-program__title {
  font: 600 22px/1 "SuisseIntlSemiBold", sans-serif;
  margin-block-end: 20px;
  color: #FFFFFF;
}
.partners-program__text {
  font: 300 18px/1 "SuisseIntlLight", sans-serif;
  color: #FFFFFF;
}

.support {
  padding-block: 86px 83px;
  background-color: #F8F8F8;
  box-sizing: border-box;
}
.support__title {
  font: 450 34px/1 "SuisseIntlRegular", sans-serif;
  margin-block-end: 38px;
  color: #2b2b2b;
}
.support__title::before {
  content: "";
  display: block;
  background-image: url("/become-partner/images/icons/support-decoration-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 72px;
  height: 48px;
  margin-block-end: 27px;
}
.support__text {
  font: 300 18px/1 "SuisseIntlLight", sans-serif;
  color: #2b2b2b;
}
.support__text:first-child {
  margin-block-end: 34px;
}
.support__highlight {
  font: 700 18px/1 "SuisseIntlBold", sans-serif;
  color: #2b2b2b;
}
.support__list {
  list-style: none;
  margin-block-end: 34px;
}
.support__list-item {
  position: relative;
  font: 300 18px/1 "SuisseIntlLight", sans-serif;
  color: #2b2b2b;
  max-width: 270px;
  margin-block-end: 20px;
  padding-inline-start: 29px;
  box-sizing: border-box;
}
.support__list-item::before {
  content: "";
  position: absolute;
  background-image: url("/become-partner/images/icons/geren-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 10px;
  height: 15px;
  left: 0;
  top: 0;
}

.work {
  padding-block: 78px 91px;
  box-sizing: border-box;
}
.work__header {
  font: 450 33px/1 "SuisseIntlRegular", sans-serif;
  margin-block-end: 31px;
  color: #2b2b2b;
}
.work__subheader {
  font: 300 18px/1 "SuisseIntlLight", sans-serif;
  margin-block-end: 23px;
  color: #2b2b2b;
}
.work__card-wrapper {
  list-style: none;
  box-sizing: border-box;
}
.work__card {
  box-sizing: border-box;
  padding-block: 39px 45px;
  padding-inline: 42px 23px;
  border: 1px solid #DFDFDF;
  border-radius: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1215686275);
  max-width: 300px;
  margin-block-end: 20px;
}
.work__card:last-child {
  margin-block-end: unset;
}
.work__title {
  font: 600 20px/1 "SuisseIntlSemiBold", sans-serif;
  margin-block-end: 20px;
  color: #2b2b2b;
  position: relative;
}
.work__title::before {
  content: "";
  position: absolute;
  background-image: url("/become-partner/images/icons/work-card-decoration.svg");
  background-repeat: no-repeat;
  left: -42px;
  top: -4px;
  width: 6px;
  height: 36px;
}
.work__text {
  font: 300 18px/1 "SuisseIntlLight", sans-serif;
  color: #2b2b2b;
}

.container {
  box-sizing: border-box;
  max-width: clamp(360px, 100%, 1240px);
  margin-inline: auto;
  padding-inline: 20px;
}

.feedback {
  background-color: #F8F8F8;
  padding-block-start: 73px;
}
.feedback__person {
  display: flex;
  align-items: center;
  margin-block-end: 34px;
}
.feedback__picture {
  margin-inline-end: 30px;
}
.feedback__name {
  font: 600 34px/1 "SuisseIntlSemiBold", sans-serif;
}
.feedback__info {
  margin-block-end: 34px;
}
.feedback__text {
  font: 300 18px/1 "SuisseIntlLight", sans-serif;
  color: #2b2b2b;
  margin-block-end: 24px;
}
.feedback__link {
  display: block;
  font: 600 18px/1 "SuisseIntlBlod", sans-serif;
  color: #2b2b2b;
  text-decoration: none;
  margin-block-end: 10px;
}
.feedback__link:last-child {
  margin-block-end: 72px;
}
.feedback__link_underline {
  font: 300 18px/1 "SuisseIntlLight", sans-serif;
  color: #2b2b2b;
  text-decoration: underline;
  margin-block-end: 20px;
}
.feedback__form-wrapper {
  background-color: #FFFFFF;
  border-radius: 30px;
  padding-block-start: 41px;
  max-width: clamp(360px, 100%, 1240px);
  padding-inline: 20px;
}
.feedback__title {
  font: 600 24px/1 "SuisseIntlSemiBold", sans-serif;
  max-width: 250px;
  margin-block-end: 22px;
}
.feedback__form {
  max-width: 300px;
  min-height: 355px;
  background-color: gray;
}

/*# sourceMappingURL=index.css.map */
